.column-two {
  /* Fixed width for column-two */
  width: 350px;
  padding: 0 15px;
  border-left: 0.5px solid lightgray;
  position: fixed;
  right: 0;
}

/* .column-two::before {
  position: absolute;
  content: "";
  width: 0.5px;
  height: 100vh;
  background-color: lightgray;
  top: -100px;
  left: 0;
  overflow-y: hidden;
} */

.calendar {
}
.order-summary {
}
