.column-two {
  width: 300px; /* Fixed width for column-two */
  padding: 0 15px;
  position: relative;
}

.column-two::before {
  position: absolute;
  content: "";
  width: 0.5px;
  height: 100vh;
  background-color: lightgray;
  top: -100px;
  left: 0;
  overflow-y: hidden;
}

.calendar {
}
.order-summary {
}
