.RegisterWrap {
    background-color: #e1ecfa;
    height: 100vh;
    padding: 80px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  .firstP {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
  }